.main-div{
    height: 580px;
    width: 100%;
    background: rgb(83,8,162);
    background: linear-gradient(90deg, rgba(83,8,162,1) 27%, rgba(5,181,170,1) 84%);
}
.main1{
    height: 250px;
    width: 200px;
    position: absolute;
    top:20%;
    left: 20%;
    display: flex;
    justify-content: center;  
    color: white;  

}
.main1 i{
    font-size: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main1 h3{
    font-weight: normal;
    justify-content: center;
    display: flex;
}
.main1 p{
    justify-content: space-evenly;
    align-items: center;
}

.butt-div button{
    height: 40px;
    width: 150px;
    margin-top: 200px;
    margin-left: -150px;
    margin-right: 20px;
    // background-color: ;
}


.main-2{
    height: 500px;
    width: 100%;
    margin-top: 20px;
}